extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1 Al Amisola

        p.lead.text-light
          | Aspiring Full Stack JavaScript Developer.

        .portfolio-bio
          p
            | My goal is to get a junior developer job.
            | Studying to make that goal happen.
            | Wish me luck.
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        ul
          li Javascript
          li Python
          li HTML
          li CSS
          li Express
          li React
        h6 Contact Info

        ul
          li 000-000-0000
          li placeholder@placeholder.com

        a.button.expanded(href='https://github.com/avamisola') LinkedIn
        a.button.expanded(href='https://github.com/avamisola') GitHub
        a.button.expanded(href='https://github.com/avamisola') Twitter
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  